@charset "UTF-8";

#corda {
  left: -190px;
  width: 605px;
}

h3 {
    padding: 10px;
    width: 220px;
    left: -580px;
}

#cor-azul {
    margin: 140px 0 0 20px;
    background-color: blue;
}

#cor-branco {
    margin: 140px 0 0 60px;
    background-color: white;
}

#cor-preto {
    margin: 140px 0 0 20px;
    background-color: black;
}

#cor-vermelho {
    margin: 140px 0 0 60px;
    background-color: red;
}

#cor-rosa {
     margin: 140px 0 0 20px;
    background-color: pink;
}

#cor-amarelo {
    margin: 140px 0 0 20px;
    background-color: yellow;
}

#cor-verde {
    margin: 140px 0 0 20px;
    background-color: green;
}

#cor-laranja {
    margin: 140px 0 0 60px;
    background-color: orange;
}

#cor-preto1 {
    margin: 140px 0 0 60px;
    background-color: black;
}

#roda {
    position: absolute;
    margin-top: 1600px;
}

@media (max-width: 999px) {
  #roda {
    margin-top: 690px;
}
}