@charset "UTF-8";

.caixa1, .caixa2, .caixa3, .caixa4, .caixa5, .caixa6, .caixa7, .caixa8, .caixa9, .caixa10, .caixa11 {
    width: 270px;
    height: 530px;
    margin: 0 50% 0 50%;
    cursor: pointer;
    background-color: #f2f3f3
  }

@media (max-width: 1100px) {
  .caixa1, .caixa2, .caixa3, .caixa4, .caixa5, .caixa6, .caixa7, .caixa8, .caixa9, .caixa10, .caixa11 {
    width: 233px;
}
}

@media (max-width: 980px) {
  .caixa1, .caixa2, .caixa3, .caixa4, .caixa5, .caixa6, .caixa7, .caixa8, .caixa9, .caixa10, .caixa11 {
   zoom: 85%;
}
}

@media (max-width: 979px) {
  .caixa1, .caixa2, .caixa3, .caixa4, .caixa5, .caixa6, .caixa7, .caixa8, .caixa9, .caixa10, .caixa11 {
   zoom: 65%;
}
}

@media (max-width: 601px) {
  .caixa1, .caixa2, .caixa3, .caixa4, .caixa5, .caixa6, .caixa7, .caixa8, .caixa9, .caixa10, .caixa11 {
    width: 210px;
    zoom: 100%;
}
}

.caixa1, .caixa5, .caixa9 {
    left: -572px;
}

.caixa2, .caixa6, .caixa10 {
    left: -270px;
}

.caixa3, .caixa7, .caixa11 {
    left: 30px;
}

.caixa4, .caixa8 {
    left: 330px;
}

@media (max-width: 1100px) {
  .caixa1, .caixa4, .caixa7, .caixa10 {
    left: -23.3em;
}
}

@media (max-width: 1100px) {
  .caixa2, .caixa5, .caixa8, .caixa11 {
    left: -7.3em;
}
}

@media (max-width: 1100px) {
  .caixa3, .caixa6, .caixa9 {
    left: 8.8em; 
}
}

@media (max-width: 980px) {
  .caixa1, .caixa3, .caixa5, .caixa7, .caixa9, .caixa11 {
    left: -15.4em;
}
}

@media (max-width: 980px) {
  .caixa2, .caixa4, .caixa6, .caixa8, .caixa10 {
    left: 0.9em; 
}
}

@media (max-width: 979px) {
  .caixa1, .caixa4, .caixa7, .caixa10 {
    left: -23.3em;
}
}

@media (max-width: 979px) {
  .caixa2, .caixa5, .caixa8, .caixa11 {
    left: -7.3em;
}
}

@media (max-width: 979px) {
  .caixa3, .caixa6, .caixa9 {
    left: 8.8em; 
}
}

@media (max-width: 601px) {
  .caixa1, .caixa3, .caixa5, .caixa7, .caixa9, .caixa11 {
    left: -13.7em;
}
}

@media (max-width: 601px) {
  .caixa2, .caixa4, .caixa6, .caixa8, .caixa10 {
    left: 0.7em; 
}
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    top: 420px;
}

.caixa5, .caixa6, .caixa7, .caixa8 {
    top: 1000px;
}

.caixa9, .caixa10, .caixa11  {
    top: 1580px;
}

@media (max-width: 1100px) {
  .caixa1, .caixa2, .caixa3 {
    top: 360px;
}
}

@media (max-width: 1100px) {
  .caixa4, .caixa5, .caixa6 {
    top: 1040px;
}
}

@media (max-width: 1100px) {
  .caixa7, .caixa8, .caixa9 {
    top: 1720px;
}
}

@media (max-width: 1100px) {
  .caixa10, .caixa11 {
    top: 2400px;
}
}

@media (max-width: 980px) {
  .caixa1, .caixa2 {
    top: 350px;
}
}

@media (max-width: 980px) {
  .caixa3, .caixa4 {
    top: 910px;
}
}

@media (max-width: 980px) {
  .caixa5, .caixa6 {
    top: 1475px;
}
}

@media (max-width: 980px) {
  .caixa7, .caixa8 {
    top: 2400px;
}
}

@media (max-width: 980px) {
  .caixa9, .caixa10 {
    top: 3100px;
}
}

@media (max-width: 980px) {
  .caixa11 {
    top: 3800px;
}
}

@media (max-width: 979px) {
  .caixa1, .caixa2, .caixa3 {
    top: 560px;
}
}

@media (max-width: 979px) {
  .caixa4, .caixa5, .caixa6 {
    top: 1260px;
}
}

@media (max-width: 979px) {
  .caixa7, .caixa8, .caixa9 {
    top: 1960px;
}
}

@media (max-width: 979px) {
  .caixa10, .caixa11 {
    top: 2650px;
}
}

@media (max-width: 601px) {
  .caixa1, .caixa2 {
    top: 360px;
}
}

@media (max-width: 601px) {
  .caixa3, .caixa4 {
    top: 1060px;
}
}

@media (max-width: 601px) {
  .caixa5, .caixa6 {
    top: 1760px;
}
}

@media (max-width: 601px) {
  .caixa7, .caixa8 {
    top: 2460px;
}
}

@media (max-width: 601px) {
  .caixa9, .caixa10 {
    top: 3160px;
}
}

@media (max-width: 601px) {
  .caixa11 {
    top: 3860px;
}
}

#corda {
  position: absolute;
  margin: 0 50% 0 50%;
  top: 370px;
  height: 2px;
  background-color: #745843;
}

@media (max-width: 980px) {
    #corda {
       zoom: 40%;
       top: 660px;
       left: -100px;
    }
}

h3, h4 {
    position: absolute;
    color: #745843;
    font-weight: 500;
}

h3 {
    font-size: 44px;
    top: -40px;
    margin: 0 50% 0 50%;
    font-family: 'calisto MT', sans-serif;
    letter-spacing: .092em;
}

h4 {
    font-family: 'Helvetica', serif;
    font-size: 25px;
    letter-spacing: .042em;
    margin: 25px 0 0 25px;
}

@media (max-width: 980px) {
    h3 {
       zoom: 150%;
       left: -490px;
    }

    h4 {
       zoom: 89%;
    }
}

#loja ul li {
    position: absolute;
    overflow: hidden;
    display: block;
}

#caixa img {
    width: 100%;
    height: 317px;
}

#preço p, #preço1 p {
    position: absolute;
    letter-spacing: .092em;
    line-height: 1.50;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

#preço p {
    font-size: 20px;
    color: black;
    margin: 80px 0 0 25px;
}

#preço1 p {
    margin: 87px 0 0 165px;
    font-size: 15px;
    color: #a0a0a0;
}

@media (max-width: 980px) {
    #preço p {
      margin: 70px 0 0 25px;
    }

    #preço1 p {
       margin: 100px 0 0 25px;
    }
}

footer {
    position: relative;
    width: 100%;
    margin: auto;
    height: 455px;
    background-color: #EDE0D7;
}

@media (max-width: 980px) {
  footer {
   height: 425px;
}  
}

@media (max-width: 979px) {
  footer {
   zoom: 100%;
}  
}

@media (max-width: 801px) {
  footer {
   zoom: 80%;
   height: 455px;
}  
}

#img2, #img3 {
    position: absolute;
    margin: 0 50% 0 50%;
    top: 315px;
}

#img2 {
    left: -25px;
    
}

@media (max-width: 980px) {
  #img2 {
    margin: 0 50% 0 50%;
    top: 13.9em;
    left: -3.0em;
}
}

#img3 {
    left: 35px;
    
}

@media (max-width: 980px) {
  #img3 {
    margin: 0 50% 0 50%;
    top: 13.9em;
    left: 2.0em;
}
} 

#texto4 a {
    position: absolute;
    margin: 0 50% 0 50%; 
    color: #745843;
    width: 338px;
    line-height: 1.50;
    font-size: 18px;
    top: 372px;
    left: -153px;
    font-family: arial;
    letter-spacing: .092em;
}

@media (max-width: 980px) {
  #texto4 a {
    margin: 0 50% 0 50%;
    font-size: 17.5px;
    top: 20.5em;
    left: -9.5em;
    width: 330px;
} 
}