@charset "UTF-8";

.caixa1, .caixa2, .caixa3, .caixa4, .caixa5, .caixa6, .caixa7, .caixa8, .caixa9, .caixa10, .caixa11 {
    position: absolute;
    width: 270px;
    height: 530px;
    margin: 0 50% 0 50%;
    cursor: pointer;
    background-color: #f2f3f3
}

@media (max-width: 980px) {
  .caixa1, .caixa2, .caixa3, .caixa4, .caixa5, .caixa6, .caixa7, .caixa8, .caixa9, .caixa10, .caixa11 {
   zoom: 55%;
}
}

.caixa1, .caixa5, .caixa9 {
    left: -572px;
}

.caixa2, .caixa6, .caixa10 {
    left: -270px;
}

.caixa3, .caixa7, .caixa11 {
    left: 30px;
}

.caixa4, .caixa8 {
    left: 330px;
}

@media (max-width: 980px) {
  .caixa1, .caixa3, .caixa5, .caixa7, .caixa9, .caixa11 {
    left: -17.6em;
}
}

@media (max-width: 980px) {
  .caixa2, .caixa4, .caixa6, .caixa8, .caixa10 {
    left: 0.9em; 
}
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    top: 420px;
}

.caixa5, .caixa6, .caixa7, .caixa8 {
    top: 1000px;
}

.caixa9, .caixa10, .caixa11  {
    top: 1580px;
}

@media (max-width: 980px) {
  .caixa1, .caixa2 {
    top: 600px;
}
}

@media (max-width: 980px) {
  .caixa3, .caixa4 {
    top: 1160px;
}
}

@media (max-width: 980px) {
  .caixa5 {
    top: 1720px;
}
}

@media (max-width: 980px) {
  .caixa7, .caixa8 {
    top: 2400px;
}
}

@media (max-width: 980px) {
  .caixa9, .caixa10 {
    top: 3100px;
}
}

@media (max-width: 980px) {
  .caixa11 {
    top: 3800px;
}
}

#corda {
  position: absolute;
  margin: 0 50% 0 50%;
  top: 370px;
  height: 2px;
  background-color: #745843;
}

@media (max-width: 980px) {
    #corda {
       zoom: 25%;
       top: 1060px;
       left: -100px;
    }
}

h3, h4 {
    position: absolute;
    color: #745843;
    font-weight: 500;
}

h3 {
    font-size: 44px;
    top: -40px;
    margin: 0 50% 0 50%;
    font-family: 'calisto MT', sans-serif;
    letter-spacing: .092em;
}

h4 {
    font-family: 'Helvetica', serif;
    font-size: 25px;
    letter-spacing: .042em;
    margin: 25px 0 0 25px;
}

@media (max-width: 980px) {
    h3 {
       zoom: 150%;
       left: -490px;
    }

    h4 {
       zoom: 89%;
    }
}

#loja ul li {
    position: absolute;
    overflow: hidden;
    display: block;
}

#caixa img {
    width: 100%;
    height: 317px;
}

#preço p, #preço1 p {
    position: absolute;
    letter-spacing: .092em;
    line-height: 1.50;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

#preço p {
    font-size: 20px;
    color: black;
    margin: 80px 0 0 25px;
}

#preço1 p {
    margin: 87px 0 0 165px;
    font-size: 15px;
    color: #a0a0a0;
}

@media (max-width: 980px) {
    #preço p {
      margin: 70px 0 0 25px;
    }

    #preço1 p {
       margin: 100px 0 0 25px;
    }
}