body, p, h4, h5, h6, label, input, select, span {
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    letter-spacing: .092em;
}

p {
    line-height: 1.5;
}

h4, h5, h6 {
    font-weight: 500;
}

h4 {
    font-size: 56px;
    color: #5a3b1a;
    font-family: 'calisto MT', sans-serif;
    margin: 52px 0 0 520px;
}

h5 {
    margin: 105px 0 0 240px;
    font-size: 26px;
}

h6 {
    margin: -35px 0 0 970px;
    font-size: 26px;
}

@media (max-width: 980px) {
    h4 {
        margin: 62px 0 0 140px;
        zoom: 75%;
        width: 290px;
    }

    h5 {
       margin: 562px 0 0 60px;
       zoom: 95%;
       width: 290px;
    }

    h6 {
        position: absolute;
        margin: 235px 0 0 50px;
        z-index: 4;
    }
}

main {
    padding: 20px 20px 70px 20px;
    width: 679px;
    max-height: 500px;
    margin: 25px 0 0 190px;
}

@media (max-width: 980px) {
    main {
        margin: -540px 0 0 20px;
        width: 290px;
    }
}

.tela2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px; /* Ajuste a largura conforme necessário */
    top: 440px; /* Ajuste a posição vertical conforme necessário */
    left: 962px; /* Ajuste a posição horizontal conforme necessário */
}

.tela2 p {
    font-size: 16px;
    margin-bottom: 20px; /* Espaço abaixo do título "Pedido" */
}

@media (max-width: 980px) {
    .tela2, .tela3 {
        margin: 700px 0 0 -910px;
        width: 330px;
    }

    .tela3 {
        margin-left: -920px;;
    }
}

.total-section {
    margin-top: 10px;
    width: 100%;
    padding-right: 20px;
}

.total-section div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.tela3 {
    position: absolute;
    padding: 20px;
    display: flex;
    width: 300px;
    top: 637px;
    left: 942px;
    height: 200px;
}

.tela3 p {
    font-size: 25px;
    font-weight: 500;
    top: 20px;
    left: 30px;
    position: absolute;
}

.card-icons p {
    font-size: 16px;
    margin: 120px 0 0 -15px;
}

.card-icon {
    display: inline-block;
    margin-top: 60px;
    margin-right: 20px;
    font-size: 34px;
}

.input-group {
    display: flex;
    gap: 35px;
    margin-bottom: 1px;
    width: 656px;
}

@media (max-width: 980px) {
    .input-group {
        flex-direction: column;
        gap: 5px; /* Espaçamento vertical entre campos em dispositivos móveis */
        width: 100%; /* Ajusta a largura dos grupos de campos em telas menores */
        margin-bottom: 1px; /* Espaçamento entre os campos em telas menores */
    }
}

.input-container {
    flex: 1;
    position: relative;
    margin-bottom: 10px; /* Espaçamento entre os campos */
}

@media (max-width: 980px) {
    .input-container {
        margin-bottom: 20px; /* Espaçamento entre os campos em telas menores */
    }
}

.input-container input, .input-container select {
    padding: 20px;
    width: 94%;
    border: 1px solid #000000;
}

#submit-button {
    padding: 12px 20px;
    background-color: #5a3b1a;
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#botao {
    background-color: #5a3b1a;
    border: none;
    padding: 13px 0 17px 15px;
    font-size: 18px;
    cursor: pointer;
    width: 230px;
    height: 20px;
    display: block;
    top: 330px;
    left: 955px;
    position: absolute;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    letter-spacing: .092em;
}

#botao.disabled {
    background-color: #d79752;
    cursor: not-allowed;
    pointer-events: none;
}

#botao:hover {
    background-color: #745843;
}

button {
    background: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

button:hover {
    color: #e9e9e9;
}

#roda {
    margin-top: -30px;
}

@media (max-width: 980px) {
    #roda {
        margin-top: 900px;
    }
}


/* Estilos para o Modal */
.modal {
    display: none; /* Oculta o modal por padrão */
    position: fixed; /* Fixa o modal na tela */
    z-index: 1; /* Fica acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ocupa toda a tela */
    height: 100%; /* Ocupa toda a tela */
    overflow: auto; /* Adiciona rolagem se necessário */
    background-color: rgb(0,0,0); /* Cor de fundo */
    background-color: rgba(0,0,0,0.4); /* Fundo com opacidade */
}

/* Conteúdo do Modal */
.modal-content {
    background-color: #fefefe;
    margin: 100px auto; /* Centraliza o modal verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
    max-width: 600px; /* Largura máxima */
}

/* Botão de Fechar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Botões do Modal */
button {
    background-color: #4CAF50; /* Verde padrão */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
}

#cancel-button {
    background-color: #f44336; /* Vermelho */
}

/* Estilos do conteúdo do modal */
#confirmation-message {
    font-size: 16px;
}

.modal-content p {
    margin: 5px 0;
    font-size: 16px;
}

.modal-content div {
    margin-bottom: 20px;
}
