@charset "UTF-8";

#corda {
  left: -190px;
  width: 605px;
}

h3 {
    padding: 10px 60px 0 0;
    width: 220px;
    left: -570px;
}

#cor-preto {
    margin: 140px 0 0 20px;
    background-color: black;
}

#cor-branco {
    margin: 140px 0 0 60px;
    background-color: white;
}

#cor-branco1 {
    margin: 140px 0 0 20px;
    background-color: white;
}

#cor-preto1 {
    margin: 140px 0 0 60px;
    background-color: black;
}

#cor-preto2 {
    margin: 140px 0 0 20px;
    background-color: black;
}

#cor-branco2 {
    margin: 140px 0 0 20px;
    background-color: white;
}

#roda {
    position: absolute;
    margin-top: 980px;
}

@media (max-width: 980px) {
  #roda {
    margin-top: 290px;
}
}