h4 {
    left: -130px;
}

@media (max-width: 980px) {
  h4 {
    left: -140px;
}
}

#roda {
    position: absolute;
    margin-top: 715px;
}

@media (max-width: 980px) {
  #roda {
    margin-top: 1090px;
}
}