main {
    padding: 20px 20px 70px 20px;
    max-width: 1000px;
    max-height: 670px;
    margin: 220px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f2f3f3;
}

@media (max-width: 980px) {
 main {
    max-height: 700px;
}
}

h4 {
    position: absolute;
    color: #5a3b1a;
    font-weight: 500;
    margin: 0 50% 0 50%;
    font-size: 56px;
    top: 190px;
    left: -110px;
    font-family: 'calisto MT', sans-serif;
    letter-spacing: .092em;
    width: 390px;
}

.bar {
    position: absolute;
    height: 1px; 
    background-color: #745843;
    top: 51.5%; 
    left: 30%;
    width: 820px;
}

@media (max-width: 980px) {
  .bar {
    height: 1px; 
    top: 270px; 
    left: 54%;
    width: 155px;
}
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Helvetica', serif;
    letter-spacing: .092em;
    padding: 10px 0 0 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    border-radius: 30px;
}

.radio-group {
    display: flex;
    
    margin-top: 10px;
}

.radio-group label {
    font-weight: normal;
    padding: 0 50px 30px 0;
    margin-left: 30px;
}

.radio-group input {
    width: auto;
    margin-right: 5px;
}

button {
    background-color: #745843;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 20px;
    width: 100%;
}

button:hover {
background-color: #5a3b1a;
}

#roda {
    margin-top: -150px;
}