body, p, h4, h5, label, input, select, span {
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    letter-spacing: .092em;
}

p {
    line-height: 1.5;
}

h4, h5 {
    font-weight: 500;
}

h4 {
    font-size: 56px;
    color: #5a3b1a;
    font-family: 'calisto MT', sans-serif;
    margin: 52px 0 0 520px;
}

@media (max-width: 980px) {
    h4 {
        margin: 62px 0 0 140px;
        zoom: 75%;
        width: 290px;
    }
}

h5 {
    margin: 105px 0 0 240px;
    font-size: 26px;
}

@media (max-width: 980px) {
    h5 {
       margin: 562px 0 0 60px;
       zoom: 95%;
       width: 290px;
    }
}

.total-section div .label {
    text-align: left;
    flex-basis: 60%;
}

.total-section div .value {
    text-align: right;
    flex-basis: 25%;
}

@media (max-width: 980px) {
    .total-section div .label {
        text-align: left;
        flex-basis: 80%;
    }

    .total-section div .value {
        text-align: right;
        flex-basis: 25%;
    }
}

p, .card-icons p, .total-section div .value, .total-section div .label {
    font-size: 16px;
}

.discount-section label, .discount-section input, .discount-section button {
    font-size: 16px;
}

main {
    padding: 20px 20px 70px 20px;
    width: 679px;
    max-height: 500px;
    margin: 25px 0 0 190px;
}

@media (max-width: 980px) {
    main {
        margin: 10px 0 0 20px;
        width: 260px;
    }
}

.tela2 {
    position: absolute;
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    width: 315px;
    top: 420px;
    left: 942px;
    background-color: #fff;
}

.tela2 p {
    font-size: 25px;
    font-weight: 500;
    top: -60px;
    left: 20px;
    position: absolute;
}

@media (max-width: 980px) {
    .tela2, .tela3 {
        margin: -40px 0 0 -900px;
        width: 310px;
    }

    .tela3 {
        margin: -10px 0 0 -900px;
        width: 310px;
    }

    .tela2 p {
        margin-left: -20px;
    }
}

.total-section {
    margin-top: 10px;
    width: 100%;
    padding-right: 20px;
}

.total-section div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.tela3 {
    position: absolute;
    padding: 20px;
    display: flex;
    width: 300px;
    top: 637px;
    left: 942px;
    height: 200px;
}

.tela3 p {
    font-size: 25px;
    font-weight: 500;
    top: 20px;
    left: 15px;
    position: absolute;
}

.card-icons p {
    font-size: 16px;
    margin: 120px 0 0 -15px;
}

.card-icon {
    display: inline-block;
    margin-top: 60px;
    margin-right: 20px;
    font-size: 34px;
}

.input-group {
    display: flex;
    gap: 40px;
    margin-bottom: 1px;
    width: 652px;
}

@media (max-width: 980px) {
    .input-group {
        flex-direction: column;
        gap: 5px; /* Espaçamento vertical entre campos em dispositivos móveis */
        width: 100%; /* Ajusta a largura dos grupos de campos em telas menores */
        margin-bottom: 5px; /* Espaçamento entre os campos em telas menores */
    }
}

.input-container {
    flex: 1;
    position: relative;
    margin-bottom: 20px; /* Espaçamento entre os campos */
}

@media (max-width: 980px) {
    .input-container {
        margin-bottom: 30px; /* Espaçamento entre os campos em telas menores */
    }
}

.input-container input, .input-container select {
    padding: 20px;
    width: 94%;
    border: 1px solid #000000;
    background-color: #e9e9e9;
}

#submit-button {
    padding: 12px 20px;
    background-color: #5a3b1a;
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#botao {
    background-color: #5a3b1a;
    border: none;
    padding: 13px 0 17px 15px;
    font-size: 18px;
    cursor: pointer;
    width: 230px;
    height: 20px;
    display: block;
    top: 330px;
    left: 955px;
    position: absolute;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    letter-spacing: .092em;
}

#botao.disabled {
    background-color: #d79752;
    cursor: not-allowed;
    pointer-events: none;
}

#botao:hover {
    background-color: #745843;
}

button {
    background: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

button:hover {
    color: #e9e9e9;
}

#roda {
    margin-top: 60px;
}

@media (max-width: 980px) {
    #roda {
        margin-top: 1000px;
    }
}