main {
    padding: 20px 20px 70px 20px;
    max-width: 1000px;
    max-height: 670px;
    margin: 220px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f2f3f3;
}

@media (max-width: 980px) {
 main {
    max-height: 700px;
}
}

h4 {
    position: absolute;
    font-weight: 500;
    margin: 0 50% 0 50%;
    letter-spacing: .092em;
    width: 390px;
    font-size: 56px;
    top: 190px;
    left: -110px;
    color: #5a3b1a;
    font-family: 'calisto MT', sans-serif;
}

@media (max-width: 980px) {
    h4 {
      left: -140px;
      zoom: 75%;
      top: 230px;
      width: 290px;
    }
}

.input-container {
    margin-bottom: 1.5rem;
    position: relative;
}

.input-container input, 
.input-container select {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-container label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #fff;
    padding: 0 5px;
    font-size: 14px;
    color: #999;
    pointer-events: none;
    transition: 0.2s ease-out;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label,
.input-container select:focus + label,
.input-container select:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #333;
    background-color: #fff;
    padding: 0 5px;
}

/* Estilos para o botão de enviar */
#submit-button {
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit-button:hover {
    background-color: #0056b3;
}

#roda {
    margin-top: -150px;
}