@charset "UTF-8";

.caixa1, .caixa2, .caixa3, .caixa4, .caixa5 {
    position: absolute;
    width: 270px;
    height: 530px;
    margin: 0 50% 0 50%;
    cursor: pointer;
    background-color: #f2f3f3
}

@media (max-width: 980px) {
  .caixa1, .caixa2, .caixa3, .caixa4, .caixa5 {
   zoom: 60%;
}
}

.caixa1, .caixa5 {
    left: -572px;
}

.caixa2 {
    left: -270px;
}

.caixa3 {
    left: 30px;
}

.caixa4 {
    left: 330px;
}

@media (max-width: 980px) {
    .caixa1, .caixa3, .caixa5 {
        left: -17.6em;
    }

    .caixa2, .caixa4 {
        left: 0.9em; 
    }
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    top: 420px;
}

.caixa5 {
    top: 980px;
}

@media (max-width: 980px) {
   .caixa1, .caixa2 {
    top: 520px;
   }

   .caixa3, .caixa4 {
    top: 1080px;
   }

   .caixa5 {
    top: 1640px;
   }
}

h3, h4 {
    position: absolute;
    color: #745843;
    font-weight: 500;
}

h3 {
     margin: 0 50% 0 50%;
    font-size: 36px;
    top: 340px;
    left: -550px;
    font-family: 'calisto MT', sans-serif;
    letter-spacing: .092em;
}

@media (max-width: 980px) {
  h3 {
    zoom: 75%;
    top: 350px;
    left: -220px;
    width: 250px;
}
}

h4 {
    font-family: 'Helvetica', serif;
    font-size: 25px;
    letter-spacing: .042em;
    margin: 25px 0 0 25px;
}

#loja ul li {
    position: absolute;
    overflow: hidden;
    display: block;
}

#caixa img {
    width: 100%;
    height: 317px;
}

#preço p, #preço1 p {
    position: absolute;
    letter-spacing: .092em;
    line-height: 1.50;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

#preço p {
    font-size: 20px;
    color: black;
    margin: 80px 0 0 25px;
}

#preço1 p {
    margin: 87px 0 0 165px;
    font-size: 15px;
    color: #a0a0a0;
}

@media (max-width: 980px) {
    #preço p {
      margin: 70px 0 0 25px;
    }

    #preço1 p {
       margin: 100px 0 0 25px;
    }
}

#cor-azul {
    margin: 140px 0 0 20px;
    background-color: blue;
}

#cor-branco {
    margin: 140px 0 0 60px;
    background-color: white;
}

#cor-preto {
    margin: 140px 0 0 20px;
    background-color: black;
}

#cor-vermelho {
    margin: 140px 0 0 60px;
    background-color: red;
}

#cor-rosa {
     margin: 140px 0 0 20px;
    background-color: pink;
}

#cor-amarelo {
    margin: 140px 0 0 20px;
    background-color: yellow;
}

#cor-verde {
    margin: 140px 0 0 20px;
    background-color: green;
}

#cor-laranja {
    margin: 140px 0 0 60px;
    background-color: orange;
}

#cor-preto1 {
    margin: 140px 0 0 60px;
    background-color: black;
}

#roda {
    margin-top: 810px;
}

@media (max-width: 980px) {
    #roda {
        margin-top: 535px;
    }
}