@charset "UTF-8";

#cor-preto {
    margin: 140px 0 0 20px;
    background-color: black;
}

#cor-verde {
    margin: 140px 0 0 20px;
    background-color: green;
}

#cor-rosa {
    margin: 140px 0 0 60px;
    background-color: pink;
}

#cor-azul {
    margin: 140px 0 0 20px;
    background-color: blue;
}

#cor-rosa1 {
    margin: 140px 0 0 60px;
    background-color: pink;
}

#cor-rosa2 {
    margin: 140px 0 0 20px;
    background-color: pink;
}

#cor-branco {
    margin: 140px 0 0 20px;
    background-color: white;
}

#roda {
    margin-top: 810px;
}

