.popup {
    display: none; /* Esconde o pop-up inicialmente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: auto;
}

.popup-content {
    background-color: #fefefe;
    margin: 13% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 600px;
    height: 220px;
    position: relative;
    border-radius: 10px;
}

.product-summary {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product-summary p {
    top: -135px;
    left: 210px;
}

.product-summary img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    top: 65px;
    left: -290px;
}

.product-info {
    flex: 1;
}

.product-summary h4 {
    margin: 10px 0 0 190px;
}

.product-summary h5 {
    margin: 50px 0 0 190px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #745843;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #5a3b1a;
}

.close-btn {
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

#continue-shopping, #go-to-cart {
    position: absolute;
    font-size: 15px;
    padding: 7px 20px 7px 20px;
    cursor: pointer;
}

#continue-shopping {
    top: 40px;
    right: 200px;
}

#go-to-cart {
    top: 90px;
    right: 233px;
}