main {
    padding: 20px;
    max-width: 1000px;
    max-height: 250px;
    margin: 300px auto;
}

@media (max-width: 980px) {
  main {
    margin: 166px auto;
}
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #745843;
    font-family: 'calisto MT', sans-serif;
    letter-spacing: .092em;
    margin-left: 30px;
}

.bar {
    position: absolute;
    height: 1px; 
    background-color: #745843;
    top: 54%; 
    left: 31%;
    width: 780px;
}

@media (max-width: 980px) {
  .bar {
    height: 1px; 
    top: 270px; 
    left: 54%;
    width: 155px;
}
}

#cart-items-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f2f3f3
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item span {
    color: black;
    font-size: 16px;
    font-family: arial;
    letter-spacing: .092em;
}

@media (max-width: 980px) {
  .cart-item span {
    width: 150px;
}
}

.cart-item button {
    background: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.cart-item button:hover {
    background: #c62828;
}

#checkout-button {
    background-color: #745843;
    color: #fff;
    border: none;
    padding: 10px 60px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px 0 0 20px;
}

#checkout-button:hover {
    background-color: #5a3b1a;
}

footer {
    top: 0;
}

#roda {
    margin-top: 1100px;
}

@media (max-width: 980px) {
  #roda {
    margin-top: 1100px;
}
}
