.tela1 {
    position: absolute;
    background-color: #fff;
    display: flex;
    width: 489px;
    top: 530px;
    left: 360px;
    overflow-y: auto;
}

.tela2 {
    position: absolute;
    padding: 20px;
    display: flex;
    width: 400px;
    top: 400px;
    left: 890px;
}

.tela3 {
    position: absolute;
    padding: 20px;
    display: flex;
    width: 335px;
    height: 100px;
    top: 630px;
    left: 890px;
    background-color: #e9e9e9;
}

.tela3 p, h6 {
    position: absolute;
    margin: 0 50% 0 50%;
    font-family: 'calisto MT', sans-serif;
    letter-spacing: .100em;
    left: -155px;
}

h6 {
    font-size: 14px;
    top: 20px;
    width: 100%;
}

.tela3 p {
    font-size: 14px;
    top: 57px;
    width: 80%;
    color: #575757;
}

main p {
    position: absolute;
    margin: 0 50% 0 50%;
    font-family: 'calisto MT', sans-serif;
    letter-spacing: .100em;
    left: -390px;
    top: 430px;
    width: 480px;
    font-size: 16px;
    color: black;
    line-height: 1.5em;
}

h4, h5 {
    position: absolute;
    font-weight: 500;
    margin: 0 50% 0 50%;
    font-family: 'calisto MT', sans-serif;
    letter-spacing: .092em;
    width: 390px;
    z-index: 2;
}

h4 {
    font-size: 56px;
    top: 190px;
    left: -150px;
    color: #5a3b1a;
}

h5 {
    font-size: 26px;
    top: 327px;
    left: -400px;
    padding: 20px 80px 20px 20px;
    background-color: #e9e9e9;
}

.total-section {
    font-size: 20px;
    letter-spacing: .092em;
    font-family: 'calisto MT', sans-serif;
    line-height: 2em;
    font-weight: 700;
}

#cart-items-container {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    background-color: #e9e9e9;
    width: 489px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item span {
    color: black;
    font-size: 16px;
    font-family: arial;
    letter-spacing: .092em;
}

#botao {
    background-color: #5a3b1a;
    color: #5a3b1a;
    border: none;
    padding: 15px 0 15px 15px;
    font-size: 18px;
    cursor: pointer;
    width: 230px;
    height: 20px;
    display: block;
    top: 330px;
    left: 900px;
    position: absolute;
    letter-spacing: .092em;
}

#botao:hover {
    background-color: #745843;
}

button {
    background: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

button:hover {
    color: #e9e9e9;
}

footer {
    top: 0;
}

#roda {
    margin-top: 1100px;
}

@media (max-width: 980px) {
  #roda {
    margin-top: 1100px;
}
}