@charset "UTF-8";

#cor-rosa {
    margin: 140px 0 0 20px;
    background-color: pink;
}

#cor-roxo {
    margin: 140px 0 0 60px;
    background-color: purple;
}

#roda {
    margin-top: 250px;
}

@media (max-width: 980px) {
  #roda {
    margin-top: -35px;
}
}