* {
  margin: 0;
  padding: 0;
}

@media (max-width: 1216px) {
  body {
    zoom: 100%;
  }
}
 
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #e9e9e9;

}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #5a3b1a;
  height: 12vh;
}

main {
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
  margin-left: -532px;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

#cart-icon {
  position: absolute;
  cursor: pointer;
  top: 30px;
  color: white;
  font-size: 23px;
  left: 82vw; /* Ajuste conforme necessário */
}

#cart-count {
  position: absolute;
  top: -10px;
  right: -13px;
  background-color: white;
  color: #745843;
  border-radius: 50%;
  padding: 1px 6px 2px 7px;
  font-size: 11px;
  display: none; /* Inicialmente escondido */
}

/* Mostrar o contador somente se o valor for diferente de zero */
#cart-count:empty {
  display: none;
}

#cart-count:not(:empty) {
  display: block;
}

/* Alternativamente, se você estiver usando o JavaScript para definir o conteúdo */
#cart-count.hidden {
  display: none;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  nav {
  height: 9vh;
  position: relative;
   z-index: 2;
  width: 100%;
}

  .nav-list {
    position: fixed;
    top: -100%; /* Mudança de top: 8vh para top: -100% */
    left: 0;
    width: 100vw;
    height: 52vh;
    background: #5a3b1a;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out; /* Aumenta a duração e ajusta a função de tempo */
    z-index: 2;
    margin-left: 0px;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    
    display: block;
    margin-left: 40vh;
  }

  #cart-icon {
    top: 18px;
    left: 73vw;
  }
}

.nav-list.active {
  top: 7.9vh; /* Mudança de transform: translateX(0) para top: 8vh */
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(-50px); /* Mudança de translateX para translateY */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mobile-menu.active .line3 {
  transform: rotate(90deg) translate(-10px, 5px);
}

h1, h2, h3 {
    position: absolute;
    color: white;
    margin: 0 50% 0 50%;
    font-family: 'calisto MT', sans-serif;
    letter-spacing: .092em;
    font-weight: 500;
}

h1 {
    font-size: 37px;
    top: 20px;
    left: -580px;
}

h2 {
    font-size: 13px;
    top: 26px;
    left: -357px;
}

h3 {
    font-size: 13px;
    top: 44px;
    left: -360px;
}

@media (max-width: 980px) {
    h1 {
       zoom: 75%;
       top: 25px;
       left: -228px;
    }

    h2 {
       top: 17px;
       left: -8px;
    }

    h3 {
       top: 35px;
       left: -10px;
    }
}

#super {
    position: relative;
    width: 100%;
    height: 48px;
    background-color: #e9e9e9;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#super p {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto; /* Centraliza horizontalmente */
    color: black;
    font-size: 13px;
    font-family: Arial, sans-serif;
    letter-spacing: .192em;
    white-space: nowrap;
    animation: marquee 35s linear infinite;
    font-weight: 700;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.bolinha-container {
  display: flex;
  justify-content: flex-start; /* Alinha bolinhas horizontalmente */
  margin: 120px 0 0 25px; /* Espaçamento vertical entre bolinhas e outros elementos */
}

.bolinha {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px; /* Espaço entre bolinhas */
  border: 1px solid black; /* Borda opcional, ajuste conforme necessário */
}

.bolinha.rosa {
  background-color: pink; 
}

.bolinha.azul {
  background-color: blue; 
}

.bolinha.preto {
  background-color: black; 
}

.bolinha.vermelho {
  background-color: red; 
}

.bolinha.branco {
  background-color: white; 
}

.bolinha.verde {
  background-color: rgb(24, 93, 16);
}

.bolinha.laranja {
  background-color: rgb(225, 94, 0); 
}

.bolinha.roxo {
  background-color: rgb(183, 8, 177); 
}

.bolinha.marron {
  background-color: rgb(120, 88, 33); 
}

/* Para dispositivos menores */
@media (max-width: 980px) {
  .bolinha {
      width: 15px;
      height: 15px;
      margin-right: 4px;
  }
}


/* Estilos gerais para o footer */
footer {
  background-color: #5a3b1a;
  color: white;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  padding: 40px 0;
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%; /* Ajusta a largura para evitar scroll lateral */
  max-width: 1300px; /* Limita a largura máxima */
  margin: 0 auto; /* Centraliza horizontalmente */
  padding: 0 15px; /* Adiciona padding para evitar scroll lateral */
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

.footer-column {
  flex: 1;
  min-width: 180px; /* Define uma largura mínima */
  margin: 10px; /* Margem uniforme ao redor das colunas */
}

.footer-column .h3 {
  font-size: 22px; /* Tamanho da fonte */
  margin-bottom: 20px;
  color: white;
  letter-spacing: 0.1em;
  font-weight: bold; /* Aplica negrito */
}

.products-list a {
  font-size: 18px; /* Tamanho da fonte na lista de produtos */
}

.footer-column p,
.footer-column ul {
  font-size: 14px;
  color: white;
  line-height: 1.5;
  letter-spacing: .092em;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #e9e9e9;
}

#social-icons {
  margin-top: 20px;
}

.social-icon, .card-icons {
  color: white;
  font-size: 24px;
  margin-right: 15px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.card-icon {
  margin: 0 8px 0 0;
}

.social-icon:hover {
  color: #df9952;
}

.footer-bottom {
  background-color: #5a3b1a;
  color: white;
  font-size: 16px;
  padding: 50px 0 0 0;
  text-align: center; /* Centraliza o conteúdo */
  position: relative;
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

.footer-bottom-content {
  display: flex;
  justify-content: center; /* Alinha horizontalmente ao centro */
  align-items: center; /* Alinha verticalmente ao centro */
  gap: 20px; /* Espaçamento entre os itens */
}

.footer-bottom p {
  margin: 0;
}

.footer-address {
  font-size: 16px;
}

/* Linha branca acima do footer-bottom-content */
.footer-bottom::before {
  content: "";
  display: block;
  width: 1070px; /* Faz a linha branca ocupar toda a largura do footer */
  height: 2px; /* Espessura da linha */
  background-color: white;
  position: absolute;
  top: 20px; /* Posiciona a linha no topo do footer-bottom */
  left: 135px; /* Posiciona a linha alinhada à esquerda */
}

/* Estilos para telas menores que 980px */
@media (max-width: 980px) {
  .footer-top {
    display: block; /* Garante que os itens estejam empilhados verticalmente */
    padding: 0; /* Remove padding extra */
  }

  .footer-column {
    width: 100%; /* Faz com que cada coluna ocupe a largura total */
    margin: 10px 0; /* Ajusta as margens para melhor ajuste */
  }

  .footer-column .h3 {
    cursor: pointer;
    margin-bottom: 15px; /* Espaçamento entre títulos */
    font-size: 18px; /* Ajusta o tamanho da fonte */
  }
  
  .footer-column .h3 + ul {
    display: none; /* Esconde os menus de categorias quando não ativo */
  }

  .footer-column .h3.active + ul {
    display: block; /* Mostra o menu associado ao título ativo */
  }

  #social-icons,
  #aceitamos-menu {
    display: block; /* Garante que "Siga-nos" e "Aceitamos" permaneçam visíveis */
  }

  .footer-bottom::before {
    width: 100%;
    left: 0;
  }
}

/* Estilos para telas menores que 480px */
@media (max-width: 480px) {
  .footer-column .h3 {
    font-size: 16px; /* Ajusta o tamanho da fonte dos títulos */
  }

  .products-list a {
    font-size: 14px; /* Ajusta o tamanho da fonte na lista de produtos */
  }

  .footer-bottom {
    font-size: 14px; /* Ajusta o tamanho da fonte na parte inferior do footer */
    padding: 40px 10px 20px 10px; /* Ajusta o padding para telas muito pequenas */
  }

  .footer-bottom-content {
    flex-direction: column; /* Empilha os itens verticalmente em vez de horizontalmente */
    gap: 10px; /* Ajusta o espaçamento entre os itens */
    text-align: center; /* Centraliza o texto */
  }
}
