
* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #745843;
  height: 8vh;
}

main {
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 100vw;
    height: 62vh;
    background: #745843;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 2;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
    margin-left: 220px;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

h1, h2 {
    position: absolute;
    color: #745843;
    margin: 0 50% 0 50%;
    font-family: 'calisto MT', sans-serif;
    letter-spacing: .092em;
    font-weight: 500;
}

h1 {
    font-size: 78px;
    top: 111px;
    left: -205px;
}

h2 {
    font-size: 44px;
    top: 210px;
    left: -145px;
    width: 300px;
}

@media (max-width: 999px) {
    h1 {
       zoom: 55%;
       top: 200px;
    }

    h2 {
       zoom: 55%;
       top: 300px;
    }
}


#cor-azul, #cor-branco, #cor-branco1, #cor-branco2, #cor-preto, #cor-preto1, #cor-preto2 , #cor-vermelho, #cor-vermelho1, #cor-rosa, #cor-rosa1, #cor-rosa2, #cor-amarelo, #cor-verde, #cor-laranja, #cor-roxo {
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 100px;
    border: 1px solid black;
}

footer {
    position: absolute;
    width: 100%;
    margin: auto;
    height: 455px;
    background-color: #EDE0D7;
}

@media (max-width: 999px) {
  footer {
    zoom: 70%;
   height: 425px;
}  
}

#img2, #img3 {
    position: absolute;
    margin: 0 50% 0 50%;
    top: 315px;
}

#img2 {
    left: -25px;
    
}

@media (max-width: 980px) {
  #img2 {
    margin: 0 50% 0 50%;
    top: 13.9em;
    left: -3.0em;
}
}

#img3 {
    left: 35px;
    
}

@media (max-width: 980px) {
  #img3 {
    margin: 0 50% 0 50%;
    top: 13.9em;
    left: 2.0em;
}
} 

#texto4 a {
    position: absolute;
    margin: 0 50% 0 50%; 
    color: #745843;
    width: 338px;
    line-height: 1.50;
    font-size: 18px;
    top: 372px;
    left: -153px;
    font-family: arial;
    letter-spacing: .092em;
}

@media (max-width: 980px) {
  #texto4 a {
    margin: 0 50% 0 50%;
    font-size: 17.5px;
    top: 20.5em;
    left: -9.5em;
    width: 330px;
} 
}