#loja {
    position: absolute;
    margin: 0 50% 0 50%;
    top: 225px;
    left: -750px;
    width: 1350px;
    height: 600px;
}

@media (max-width: 980px) {
    #loja {
        width: 950px;
        top: 210px;
    }
}

#loja img {
    position: absolute;
    margin: 0 50% 0 50%;
}
 
/* Adicione este estilo para a imagem pequena */
#fotinha1 img {
    width: 400px;
    height: 420px;
    margin-left: 150px;
}

#fotinha2 img {
    width: 400px;
    height: 420px;
    margin-left: 570px;
}

@media (max-width: 980px) {
    #fotinha1 {
        position: relative;
        margin-left: 400px;
    }

    #fotinha1 img {
        width: 360px;
        left: 20px;
        margin-top: 110px;
    }

    #fotinha2 {
        position: absolute;
        top: 550px;
        left: 10px;
        transform: translateX(-50%);
    }

    #fotinha2 img {
        width: 80px;
        height: 80px;
        cursor: pointer;
    }
}

#ladinho {
    position: absolute;
    height: 400px;
    width: 300px;
    margin: 8px 0 0 1040px;
}

@media (max-width: 980px) {
    #ladinho {
        margin: 600px 0 0 590px;
    }
}

h4, h5, h6 {
    position: absolute;
    font-family: 'Helvetica', serif;
    letter-spacing: .092em;
    color: #745843;
}

h4 {
    font-size: 30px;
    margin-top: 10px;
    width: 325px;
    font-weight: 700;
}

h5 {
    font-size: 20px;
    color:  #708090;
    margin-top: 55px;
    font-weight: 500;
}

@media (max-width: 980px) {
    h4 {
        zoom: 80%;
        left: -25px;
        top: -800px;
    }

    h5 {
        top: -655px;
        left: -15px;
    }
}

/* Contêiner para miniaturas */
.mini-container {
  position: absolute;
  display: flex;
  margin: 120px 0 0 -155px; /* Espaçamento vertical entre bolinhas e outros elementos */
  gap: 40px; /* Espaçamento entre as miniaturas */
  justify-content: space-around; /* Distribui espaço ao redor das miniaturas */
  width: 100%; /* Ocupa toda a largura disponível */
  height: 60px;
  left: -10px;
}

.mini a:hover {
    opacity: 80%;
  }

.mini img {
    width: 20%;
    height: 100%;
}

@media (max-width: 980px) {
    .mini img {
        top: -10px;
    }
}

.size-box {
    width: 60px;
    height: 40px;
    display: inline-block;
    margin: 195px 10px 0 0;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    background-color: #e9e9e9;
}

.size-box1 {
    width: 60px;
    height: 40px;
    display: inline-block;
    margin: 195px 10px 0 0;
    line-height: 40px;
}

.size-box:hover {
    background-color: #745843;
    color: white;
}

.size-box.selected {
    background-color: #745843;
    color: white;
}

#ladinho p {
    position: absolute;
    letter-spacing: .092em;
    line-height: 1.50;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 245px;
}

@media (max-width: 980px) {
    #ladinho p {
        margin-top: 70px;
    }
}

.discount-badge, .discount-badges {
    position: absolute;
    color: rgb(241, 0, 0);
    font-weight: bold;
    text-align: center;
}

.discount-badge {
    top: 280px;
    left: 190px;
    color: rgb(241, 0, 0);
    font-size: 13px;
}

@media (max-width: 980px) {
    .discount-badge {
        top: -568px;
        left: 165px;
    }
}

.discount-badges {
    top: 260px;
    right: 0;
    background-color: rgba(242, 243, 243);
    padding: 5px 15px;
    border-radius: 5px 0;
    font-size: 17px;
}

#preço0 p, #preço1 p, #preço2 p, #preço3 p {
    position: absolute;
    letter-spacing: .092em;
    line-height: 1.50;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

#preço1 p {
    font-size: 16px;
    margin: 295px 0 0 160px;
    color: #a0a0a0;
}

#preço0 p {
    font-size: 20px;
    margin: 290px 0;
    color: black;
}

@media (max-width: 980px) {
    #preço1 p {
        margin: -550px 0 0 130px;
    }

    #preço0 p {
        margin: -555px 0 0 -15px;
    }
}

button {
    position: absolute;
    padding: 7px 73px;
    font-size: 25px;
    letter-spacing: .192em;
    line-height: 1.50;
    font-weight: 500;
    color:  white;
    font-family: 'Helvetica', serif;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #745843;
    border-radius: 30px;
    margin-top: 110px;
}

button:hover {
    background-color: #5a3b1a;
}

@media (max-width: 980px) {
    button {
        padding: 7px 75px;
        top: 145px;
    }
}

#sujestao {
    position: absolute;
    display: flex;
    margin: 0 50% 0 50%;
    top: 700px;
    left: 80px;
}

#sujestao h4 {
    position: absolute;
    top: 15px;
    left: -640px;
}

@media (max-width: 980px) {
    #sujestao {
        zoom: 70%;
        top: 1650px;
        left: -287px;
        width: 450px;
    }

    #sujestao h4 {
        left: 100px;
    }
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    position: absolute;
    width: 270px;
    height: 460px;
    top: 120px;
    margin: 0 50% 0 50%;
    cursor: pointer;
    background-color: #f2f3f3;
    list-style: none;
    zoom: 70%;
    border-radius: 20px;
}

.caixa1 {
    left: -935px;
}

.caixa2 {
    left: -635px;
}

.caixa3 {
    left: -333px;
}

.caixa4 {
    left: -36px;
}

@media (max-width: 980px) {
    .caixa1 {
        left: -200px;
    }

    .caixa2 {
        left: 110px;
    }

    .caixa3 {
        left: -200px;
        top: 620px;
    }

    .caixa4 {
        left: 110px;
        top: 620px;
    }
}

#caixa img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 287px;
}

h6 {
    font-size: 25px;
    color:  #745843; 
    margin: 15px 0 0 15px;
    font-weight: 500;
}

#preço2 p {
    font-size: 20px;
    color: black;
    margin: 70px 0 0 25px;
}

#preço3 p {
    margin: 75px 0 0 165px;
    font-size: 15px;
    color: black;
}

#roda {
    margin-top: 1040px;
}

@media (max-width: 980px) {
    #roda {
        margin-top: 2100px;
    }
}
